.swiper-container {
   position: relative;
   z-index: 1;
   overflow: hidden;
   margin: 0 auto
}

.swiper-container-no-flexbox .swiper-slide {
   float: left
}

.swiper-container-vertical>.swiper-wrapper {
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-orient: vertical
}

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   -js-display: flex;
   display: flex;
   box-sizing: content-box;
   width: 100%;
   height: 100%;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
   -webkit-transform: translateZ(0);
   transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-lines: multiple;
   -moz-box-lines: multiple
}

.swiper-container-free-mode>.swiper-wrapper {
   margin: 0 auto;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out
}

.swiper-slide {
   position: relative;
   -ms-flex: 0 0 auto;
   flex-shrink: 0;
   width: 100%;
   height: 100%;
   -ms-flex-negative: 0
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
   height: auto
}

.swiper-container-autoheight .swiper-wrapper {
   align-items: flex-start;
   -webkit-transition-property: -webkit-transform, height;
   -webkit-transition-property: height, -webkit-transform;
   transition-property: height, -webkit-transform;
   transition-property: transform, height;
   transition-property: transform, height, -webkit-transform;
   -webkit-box-align: start;
   -ms-flex-align: start
}

.swiper-container .swiper-notification {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1000;
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   pointer-events: none
}

.swiper-wp8-horizontal {
   -ms-touch-action: pan-y;
   touch-action: pan-y
}

.swiper-wp8-vertical {
   -ms-touch-action: pan-x;
   touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
   position: absolute;
   top: 50%;
   z-index: 10;
   margin-top: -22px;
   width: 27px;
   height: 44px;
   background-position: 50%;
   background-size: 27px 44px;
   background-repeat: no-repeat;
   cursor: pointer
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
   opacity: .35;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
   cursor: auto;
   pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
   right: auto;
   left: 10px;
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
   right: 10px;
   left: auto;
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
   position: absolute;
   z-index: 10;
   text-align: center;
   -webkit-transition: .3s;
   transition: .3s;
   -webkit-transform: translateZ(0);
   transform: translateZ(0)
}

.swiper-pagination.swiper-pagination-hidden {
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.swiper-pagination-bullet {
   display: inline-block;
   width: 8px;
   height: 8px;
   border-radius: 100%;
   background: #000;
   opacity: .2;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
}

button.swiper-pagination-bullet {
   margin: 0;
   padding: 0;
   border: none;
   box-shadow: none;
   -moz-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
   cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
   background: #fff
}

.swiper-pagination-bullet-active {
   background: #FFC81F;
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.swiper-pagination-white .swiper-pagination-bullet-active {
   background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
   background: #000
}

.swiper-container-vertical>.swiper-pagination {
   top: 50%;
   right: 10px;
   -webkit-transform: translate3d(0, -50%, 0);
   transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
   display: block;
   margin: 5px 0
}

.swiper-container-horizontal>.swiper-pagination {
   bottom: 10px;
   left: 0;
   width: 100%
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
   margin: 0 5px
}

.swiper-container-3d {
   -webkit-perspective: 1200px;
   -o-perspective: 1200px;
   perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   height: 100%;
   pointer-events: none
}

.swiper-container-3d .swiper-slide-shadow-left {
   background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(transparent));
   background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), transparent);
   background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
   background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(transparent));
   background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), transparent);
   background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(transparent));
   background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), transparent);
   background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
   background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(transparent));
   background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), transparent);
   background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-coverflow .swiper-wrapper {
   -ms-perspective: 1200px
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide,
.swiper-container-fade .swiper-slide .swiper-slide {
   pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
   pointer-events: auto
}

.swiper-container-cube {
   overflow: visible
}

.swiper-container-cube .swiper-slide {
   z-index: 1;
   visibility: hidden;
   width: 100%;
   height: 100%;
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
   pointer-events: none;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
   -webkit-transform-origin: 100% 0;
   transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
   visibility: visible;
   pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
   z-index: 0;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 0;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: .6;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
   -webkit-filter: blur(50px);
   filter: blur(50px)
}

.swiper-scrollbar {
   position: relative;
   border-radius: 10px;
   background: #000;
   background: rgba(0, 0, 0, .1);
   -ms-touch-action: none
}

.swiper-container-horizontal>.swiper-scrollbar {
   position: absolute;
   bottom: 3px;
   left: 1%;
   z-index: 50;
   width: 98%;
   height: 5px
}

.swiper-container-vertical>.swiper-scrollbar {
   position: absolute;
   top: 1%;
   right: 3px;
   z-index: 50;
   width: 5px;
   height: 98%
}

.swiper-scrollbar-drag {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   background: #000;
   background: rgba(0, 0, 0, .5)
}

.swiper-scrollbar-cursor-drag {
   cursor: move
}

.swiper-lazy-preloader {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 10;
   margin-top: -21px;
   margin-left: -21px;
   width: 42px;
   height: 42px;
   -webkit-transform-origin: 50%;
   transform-origin: 50%;
   -webkit-animation: swiper-preloader-spin 1s steps(12) infinite;
   animation: swiper-preloader-spin 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
   display: block;
   width: 100%;
   height: 100%;
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
   background-position: 50%;
   background-size: 100%;
   background-repeat: no-repeat;
   content: ""
}

.swiper-lazy-preloader-white:after {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
   to {
      -webkit-transform: rotate(1turn)
   }
}

@keyframes swiper-preloader-spin {
   to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
   }
}

.com-grid-paper {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 100%;
   background-color: #fff
}

.com-grid-paper .grid-paper-bd {
   position: relative;
   width: 100%;
   height: 160px;
   height: 8rem
}

.com-grid-paper .grid-paper-bd .imgcover img {
   width: 100%
}

.com-grid-paper .grid-paper-bd .category {
   position: absolute;
   bottom: 10px;
   bottom: .5rem;
   left: 15px;
   left: .75rem
}

.com-grid-paper .grid-paper-bd .count {
   position: absolute;
   top: 0;
   right: 15px;
   width: 59px;
   width: 2.95rem;
   height: 73px;
   height: 3.65rem;
   background-color: #000;
   background-color: rgba(0, 0, 0, .7);
   text-align: center
}

.com-grid-paper .grid-paper-bd .count .icon-join {
   display: inline-block;
   margin-top: 5px;
   margin-top: .25rem;
   width: 50px;
   width: 2.5rem;
   height: 30px;
   height: 1.5rem;
   color: #ffc81f;
   text-align: center;
   font-size: 42px;
   font-size: 2.1rem;
   line-height: 30px;
   line-height: 1.5rem
}

.com-grid-paper .grid-paper-bd .count .num,
.com-grid-paper .grid-paper-bd .count .text {
   display: none
}

.com-grid-paper .grid-paper-bd .count .num {
   color: #fff;
   font-weight: 700;
   font-size: 14px;
   font-size: .7rem;
   line-height: 16px;
   line-height: .8rem
}

.com-grid-paper .grid-paper-bd .count .text {
   color: #d2d2d2;
   font-size: 12px;
   font-size: .6rem;
   line-height: 16px;
   line-height: .8rem
}

.com-grid-paper .grid-paper-bd .count.new .text {
   margin-top: 5px;
   margin-top: .25rem;
   color: #ffc81f;
   font-weight: 700;
   font-size: 18px;
   font-size: .9rem
}

.com-grid-paper .grid-paper-ft {
   width: 100%
}

.com-grid-paper .grid-paper-ft .title-description {
   padding: 6px 15px 12px
}

.com-grid-paper .grid-paper-ft .title-description .title {
   font-size: 20px;
   line-height: 24px
}

.com-grid-paper .grid-paper-ft .title-description .description {
   margin-top: 5px;
   font-size: 14px;
   line-height: 18px;
   opacity: .6;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
   filter: alpha(opacity=60)
}

.com-grid-paper.large .grid-paper-bd .imgcover .pic,
.com-grid-paper.normal .grid-paper-bd .imgcover .pic {
   width: 100%;
   height: auto
}

.com-grid-paper.large .grid-paper-bd .count,
.com-grid-paper.normal .grid-paper-bd .count {
   right: 30px
}

.com-grid-paper.large .grid-paper-bd .category,
.com-grid-paper.normal .grid-paper-bd .category {
   left: 30px
}

.com-grid-paper.large .grid-paper-ft .title-description,
.com-grid-paper.normal .grid-paper-ft .title-description {
   padding-right: 30px;
   padding-left: 30px;
   width: 100%
}

.com-grid-key-article {
   display: inline-block;
   width: 100%
}

.com-grid-key-article,
.com-grid-key-article .grid-key-article-hd {
   position: relative;
   height: 100%
}

.com-grid-key-article .grid-key-article-hd .imgcover img {
   height: 100%
}

.com-grid-key-article .grid-key-article-hd:after {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   background-color: #000;
   background-color: rgba(0, 0, 0, .3);
   content: ''
}

.com-grid-key-article .grid-key-article-bd {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 2;
   padding: 0 10px 12px;
   width: 100%;
   line-height: 0
}

.com-grid-key-article .grid-key-article-bd .category {
   display: inline-block;
   padding: 0 5px;
   height: 16px;
   background-color: #000;
   background-color: rgba(0, 0, 0, .4);
   line-height: 16px
}

.com-grid-key-article .grid-key-article-bd .category span {
   float: left;
   padding: 2px 0;
   color: #ffc81f;
   font-size: 12px;
   line-height: 12px
}

.com-grid-key-article .grid-key-article-bd .category .iconfont:before {
   margin-right: 3px
}

.com-grid-key-article .grid-key-article-bd .title {
   margin: 5px 0 0;
   color: #fff;
   font-weight: 400;
   font-size: 23px;
   line-height: 28px
}

.com-grid-key-article .grid-key-article-bd .ribbon {
   margin-top: 2px;
   height: 16px;
   line-height: 16px;
   -webkit-transform: scale(.83333333);
   transform: scale(.83333333);
   -webkit-transform-origin: left;
   transform-origin: left
}

.com-grid-key-article .grid-key-article-bd .ribbon .iconfont {
   margin-right: 5px;
   color: #fff;
   font-size: 12px
}

.com-grid-key-article .grid-key-article-bd .ribbon .iconfont:before {
   margin-right: 2px
}

.com-grid-key-article .grid-key-article-bd .ribbon .iconfont:last-child {
   margin-right: 0
}

.com-grid-key-article .grid-key-article-ft {
   position: absolute;
   top: 52.5px;
   top: 2.625rem;
   left: 50%;
   z-index: 5;
   margin-left: -27.5px;
   margin-left: -1.375rem;
   width: 55px;
   width: 2.75rem;
   height: 55px;
   height: 2.75rem
}

.com-grid-key-article .grid-key-article-ft .play-btn {
   width: 100%;
   height: 100%;
   border: 1px solid hsla(0, 0%, 100%, .45);
   border-radius: 50%
}

.com-grid-key-article .grid-key-article-ft .play-btn:after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: #000;
   background: rgba(0, 0, 0, .25);
   content: ''
}

.com-grid-key-article .grid-key-article-ft .play-btn .iconfont {
   position: absolute;
   z-index: 5;
   width: 100%;
   height: 100%;
   text-align: center;
   line-height: 55px;
   line-height: 2.75rem
}

.com-grid-key-article .grid-key-article-ft .play-btn .iconfont:before {
   position: relative;
   left: 2px;
   left: .1rem;
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 30px;
   font-size: 1.5rem
}

.com-grid-key-article .grid-key-article-ft .play-btn .time {
   position: absolute;
   bottom: -20px;
   bottom: -1rem;
   left: 0;
   width: 100%;
   color: #fff;
   text-align: center;
   font-size: 13px;
   font-size: .65rem;
   line-height: 15px;
   line-height: .75rem
}

.popup-overlay {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10600;
   visibility: hidden;
   width: 100%;
   height: 100%;
   background: #000;
   background: rgba(0, 0, 0, .4);
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   -webkit-transition-duration: .4s;
   transition-duration: .4s
}

.popup-overlay.modal-overlay-visible {
   visibility: visible;
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.popup-overlay {
   z-index: 10200
}

.login-screen,
.popup {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10400;
   display: none;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   background: #fff;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0)
}

.login-screen.modal-in,
.login-screen.modal-out,
.popup.modal-in,
.popup.modal-out {
   -webkit-transition-duration: .4s;
   transition-duration: .4s
}

.login-screen.modal-in,
.popup.modal-in {
   -webkit-transform: translateZ(0);
   transform: translateZ(0)
}

.login-screen.modal-out,
.popup.modal-out {
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0)
}

.login-screen.absolute,
.popup.absolute {
   position: absolute;
}

.login-screen.relative,
.popup.relative {
   position: relative
}

.login-screen.modal-in,
.login-screen.modal-out {
   display: block
}

@media all and (min-width:630px) and (min-height:630px) {
   .popup:not(.tablet-fullscreen) {
      top: 50%;
      left: 50%;
      margin-top: -315px;
      margin-left: -315px;
      width: 630px;
      height: 630px;
      -webkit-transform: translate3d(0, 1024px, 0);
      transform: translate3d(0, 1024px, 0)
   }
   .popup:not(.tablet-fullscreen).modal-in {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
   }
   .popup:not(.tablet-fullscreen).modal-out {
      -webkit-transform: translate3d(0, 1024px, 0);
      transform: translate3d(0, 1024px, 0)
   }
}

@media (max-height:629px),
all and (max-width:629px) {
   html.with-statusbar-overlay .popup {
      top: 20px;
      height: calc(100% - 20px)
   }
   html.with-statusbar-overlay .popup-overlay {
      z-index: 9800
   }
}

html.with-statusbar-overlay .login-screen,
html.with-statusbar-overlay .popup.tablet-fullscreen {
   top: 20px;
   height: calc(100% - 20px)
}

.com-comment-popup .comment-popup-hd {
   position: relative;
   height: 44px;
   background-color: #262626;
   text-align: center;
   font-size: 17px;
   line-height: 44px
}

.com-comment-popup .comment-popup-hd .left {
   position: absolute;
   top: 0;
   left: 10px;
   left: .5rem;
   width: 44px;
   text-align: left
}

.com-comment-popup .comment-popup-hd .right {
   position: absolute;
   top: 0;
   right: 10px;
   right: .5rem;
   width: 44px;
   text-align: right
}

.com-comment-popup .comment-popup-hd .center,
.com-comment-popup .comment-popup-hd .left a {
   color: #fff
}

.com-comment-popup .comment-popup-hd .right a {
   color: #ffc81f
}

.com-comment-popup .comment-popup-hd .left a,
.com-comment-popup .comment-popup-hd .right a {
   display: inline-block
}

.com-comment-popup .comment-popup-bd {
   height: 70%
}

.com-comment-popup .comment-popup-bd form {
   height: 100%
}

.com-comment-popup .comment-popup-bd form textarea {
   padding: 15px;
   padding: .75rem;
   width: 100%;
   height: 100%;
   border: none;
   font-size: 14px;
   font-size: .7rem;
   resize: none
}

.menu-overlay-show .menu-overlay {
   display: block;
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.menu-overlay {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 98;
   display: none;
   width: 100%;
   height: 100%;
   background: transparent;
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.com-header {
   position: relative;
   z-index: 99;
   padding: 3px 15px;
   height: 44px;
   background-color: #000;
   color: #fff;
   line-height: 44px
}

.com-header .header-left {
   float: left;
   height: 100%
}

.com-header .header-left .logo {
   display: inline-block;
   height: 100%
}

.com-header .header-left .logo img {
   max-height: 100%;
   height: 100%
}

.com-header .header-right {
   float: right;
   height: 100%
}

.com-header .header-right .user {
   position: relative;
   height: 100%
}

.com-header .header-right .user .user-hd {
   display: inline-block;
   overflow: hidden;
   max-width: 160px;
   height: 100%;
   color: #fff;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 16px;
   line-height: 38px
}

.com-header .header-right .user .user-hd .iconfont {
   position: relative;
   top: 1px;
   margin-right: 4px;
   font-size: 22px
}

.com-header .header-right .user .user-hd .name {
   position: relative
}

.com-header .header-right .user .user-bd {
   position: absolute;
   top: 41px;
   right: -15px;
   z-index: 100;
   width: 125px;
   background-color: #1a1a1a;
   text-align: center
}

.com-header .header-right .user .user-bd .items {
   list-style: none;
   text-align: center
}

.com-header .header-right .user .user-bd .items .item {
   line-height: 40px
}

.com-header .header-right .user .user-bd .items .item .iconfont {
   margin-right: 10px;
   width: 22px;
   color: #999;
   vertical-align: middle;
   font-size: 22px;
   line-height: 22px
}

.com-header .header-right .user .user-bd .items .item a {
   display: inline-block;
   padding: 0 10px;
   border-bottom: 1px solid #313131;
   color: #fff
}

.com-header .header-right .user .user-bd .items .item:last-child a {
   border-bottom: none
}

.com-header .header-right .explore {
   position: relative;
   height: 100%
}

.com-header .header-right .explore .explore-hd {
   position: relative;
   display: inline-block;
   overflow: hidden;
   max-width: 160px;
   height: 100%;
   color: #fff;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 16px;
   line-height: 38px
}

.com-header .header-right .explore .explore-hd .iconfont {
   position: relative;
   margin-right: 4px;
   font-size: 22px
}

.show {
   display: block
}

.com-login-popup {
   overflow: auto;
   background-color: #fff;
   color: gray
}

.com-login-popup .login-popup-hd {
   position: relative;
   padding-top: 50px;
   padding-top: 2.5rem;
   text-align: center
}

.com-login-popup .login-popup-hd .icon-login-logo {
   display: inline-block;
   margin: 0 auto;
   width: 120px;
   width: 6rem;
   height: 49px;
   height: 2.45rem;
   background: transparent url(../images/icon-login-logo.png) 0 0 no-repeat;
   background-size: contain
}

.com-login-popup .login-popup-hd .icon-close {
   position: absolute;
   top: 20px;
   top: 1rem;
   right: 20px;
   right: 1rem;
   color: gray;
   font-size: 22px;
   font-size: 1.1rem
}

.com-login-popup .login-popup-bd {
   margin-top: 40px;
   margin-top: 2rem;
   padding: 0 35px;
   padding: 0 1.75rem;
   font-size: 14px;
   font-size: .7rem
}

.com-login-popup .login-popup-bd form {
   opacity: 0;
   position: absolute;
   width: 80%;
   left: 10%;
}

.rehidden {
   opacity: 0;
   height: 0;
   z-index: -1000;
}

.appear {
   display: block;
   z-index: 1000;
   opacity: 1!important;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   transition: opacity 0.5s;
}

.com-login-popup .login-popup-bd form .small-title {
   position: relative;
   color: #b3b3b3;
   text-align: center
}

.com-login-popup .login-popup-bd form .small-title:before {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #ccc;
   content: ''
}

.com-login-popup .login-popup-bd form .small-title span {
   position: relative;
   padding: 0 10px;
   background-color: #fff
}

.com-login-popup .login-popup-bd form .social-login {
   padding: 16px 0;
   padding: .8rem 0;
   text-align: center;
   font-size: 0
}

.com-login-popup .login-popup-bd form .social-login .social {
   display: inline-block;
   overflow: hidden;
   margin-left: 20px;
   margin-left: 1rem;
   width: 40px;
   width: 2rem;
   height: 40px;
   height: 2rem;
   border-radius: 50%;
   line-height: 40px;
   line-height: 2rem
}

.com-login-popup .login-popup-bd form .social-login .social.iconfont {
   color: #fff;
   font-size: 20px;
   font-size: 1rem
}

.com-login-popup .login-popup-bd form .social-login .social.icon-weibo {
   background-color: #f3543f
}

.com-login-popup .login-popup-bd form .social-login .social.icon-qq {
   background-color: #198ef2
}

.com-login-popup .login-popup-bd form .social-login .social:first-child {
   margin-left: 0
}

.com-login-popup .login-popup-bd form .form-control {
   margin-top: 10px;
   margin-top: .5rem
}

.com-login-popup .login-popup-bd form .form-control input {
   padding: 10px 14px;
   padding: .5rem .7rem;
   width: 100%;
   border: 1px solid #e5e5e5;
   border-radius: 0;
   font-size: 14px;
   font-size: .7rem
}

.com-login-popup .login-popup-bd form .form-control input[type=radio] {
   display: inline-block;
   width: auto
}

.com-login-popup .login-popup-bd form .form-control a {
   border-bottom: 1px solid #d6d6d6;
   color: #b3b3b3;
   font-size: 12px;
   font-size: .6rem
}

.com-login-popup .login-popup-bd form .form-control:first-child {
   margin-top: 0
}

.com-login-popup .login-popup-bd form .form-action {
   margin-top: 20px;
   margin-top: 1rem;
   font-size: 12px;
   font-size: .6rem
}

.com-login-popup .login-popup-bd form .form-action .btn {
   display: block;
   padding: 0;
   width: 100%;
   height: 45px;
   height: 2.25rem;
   background-color: #ffc81f;
   color: #fff;
   text-align: center;
   font-size: 17px;
   font-size: .85rem;
   line-height: 45px;
   line-height: 2.25rem
}

.com-login-popup .login-popup-bd form .form-action .btn.cancel {
   margin-top: 10px;
   margin-top: .5rem;
   border: 1px solid #eaeaea;
   background-color: #fff;
   color: gray
}

.com-login-popup .login-popup-bd form .form-links {
   font-size: 12px;
   font-size: .6rem;
   line-height: 44px
}

.com-login-popup .login-popup-bd form .form-links a {
   color: gray
}

.com-login-popup .login-popup-bd form .form-links a:first-child {
   float: left
}

.com-login-popup .login-popup-bd form .form-links a:last-child {
   float: right
}

.com-login-popup .login-popup-bd form.active {
   display: block
}

.panel-overlay {
   z-index: 5999;
   display: none;
   background: #000;
   background: rgba(0, 0, 0, .4);
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.panel,
.panel-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -webkit-transition-duration: .4s;
   transition-duration: .4s
}

.panel {
   z-index: 1000;
   background: #111
}

.panel.panel-left {
   top: 0;
   width: 293px;
   width: 12.50133333rem
}

.panel.panel-left.panel-cover {
   left: -294px;
   left: -12.544rem;
   z-index: 6000
}

.panel.panel-left.panel-reveal {
   left: 0
}

.panel.panel-right {
   top: 0;
   width: 293px;
   width: 12.50133333rem
}

.panel.panel-right.panel-cover {
   right: -293px;
   right: -12.50133333rem;
   z-index: 6000
}

.panel.panel-right.panel-reveal {
   right: 0
}

.panel.panel-bottom {
   left: 0;
   height: 293px;
   height: 12.50133333rem
}

.panel.panel-bottom.panel-cover {
   bottom: -293px;
   bottom: -12.50133333rem;
   z-index: 6000
}

.panel.panel-bottom.panel-reveal {
   bottom: 0
}

body.with-panel-bottom-cover .panel-overlay,
body.with-panel-left-cover .panel-overlay,
body.with-panel-right-cover .panel-overlay {
   display: block;
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

body.with-panel-bottom-reveal .views,
body.with-panel-left-reveal .views,
body.with-panel-right-reveal .views {
   -webkit-transition-duration: .4s;
   transition-duration: .4s;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform
}

body.with-panel-bottom-reveal .panel-overlay,
body.with-panel-left-reveal .panel-overlay,
body.with-panel-right-reveal .panel-overlay {
   display: block;
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

body.with-panel-left-reveal .views {
   -webkit-transform: translate3d(12.50133333px, 0, 0);
   -webkit-transform: translate3d(12.50133333rem, 0, 0);
   transform: translate3d(12.50133333px, 0, 0);
   transform: translate3d(12.50133333rem, 0, 0)
}

body.with-panel-left-reveal .panel-overlay {
   margin-left: 293px;
   margin-left: 12.50133333rem
}

body.with-panel-left-cover .panel-left {
   -webkit-transform: translate3d(12.50133333px, 0, 0);
   -webkit-transform: translate3d(12.50133333rem, 0, 0);
   transform: translate3d(12.50133333px, 0, 0);
   transform: translate3d(12.50133333rem, 0, 0)
}

body.with-panel-right-reveal .views {
   -webkit-transform: translate3d(-12.50133333px, 0, 0);
   -webkit-transform: translate3d(-12.50133333rem, 0, 0);
   transform: translate3d(-12.50133333px, 0, 0);
   transform: translate3d(-12.50133333rem, 0, 0)
}

body.with-panel-right-reveal .panel-overlay {
   margin-left: -293px;
   margin-left: -12.50133333rem
}

body.with-panel-right-cover .panel-right {
   -webkit-transform: translate3d(-12.50133333px, 0, 0);
   -webkit-transform: translate3d(-12.50133333rem, 0, 0);
   transform: translate3d(-12.50133333px, 0, 0);
   transform: translate3d(-12.50133333rem, 0, 0)
}

body.with-panel-bottom-reveal .views {
   -webkit-transform: translate3d(12.50133333px, 0, 0);
   -webkit-transform: translate3d(12.50133333rem, 0, 0);
   transform: translate3d(12.50133333px, 0, 0);
   transform: translate3d(12.50133333rem, 0, 0)
}

body.with-panel-bottom-reveal .panel-overlay {
   margin-top: -293px;
   margin-top: -12.50133333rem
}

body.with-panel-bottom-cover .panel-bottom {
   -webkit-transform: translate3d(0, -12.50133333px, 0);
   -webkit-transform: translate3d(0, -12.50133333rem, 0);
   transform: translate3d(0, -12.50133333px, 0);
   transform: translate3d(0, -12.50133333rem, 0)
}

body.panel-closing .views {
   -webkit-transition-duration: .4s;
   transition-duration: .4s;
   -webkit-transition-property: -webkit-transform;
   transition-property: -webkit-transform;
   transition-property: transform;
   transition-property: transform, -webkit-transform
}

.com-sidebar-panel {
   display: -webkit-box!important;
   display: -moz-box!important;
   height: 100%;
   background-color: #1e1e1e;
   background-color: rgba(30, 30, 30, .99);
   color: hsla(0, 0%, 100%, .3);
   -webkit-box-orient: vertical;
   box-orient: vertical
}

.com-sidebar-panel .open-panel {
   position: absolute;
   right: -54px;
   right: -2.304rem;
   bottom: 16px;
   bottom: .68266667rem;
   width: 40px;
   width: 1.70666667rem;
   height: 40px;
   height: 1.70666667rem;
   border-radius: 50%;
   background-color: #000;
   background-color: rgba(0, 0, 0, .8);
   -webkit-transition: -webkit-transform .5s;
   transition: -webkit-transform .5s;
   transition: transform .5s;
   transition: transform .5s, -webkit-transform .5s
}

.com-sidebar-panel .iscroll-container {
   position: relative;
   overflow: hidden;
   width: 100%;
   -webkit-box-flex: 1;
   box-flex: 1
}

.com-sidebar-panel .iscroll-container .iscroll {
   z-index: 99;
   width: 100%;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.com-sidebar-panel .sidebar-panel-hd {
   padding-bottom: 10px;
   padding-bottom: .42666667rem;
   text-align: center
}

.com-sidebar-panel .sidebar-panel-hd .radar {
   display: block;
   margin: 0 auto;
   width: 223px;
   width: 9.51466667rem;
   height: 213px;
   height: 9.088rem
}

.com-sidebar-panel .sidebar-panel-hd .avatar {
   position: absolute;
   top: 86px;
   top: 3.66933333rem;
   left: 50%;
   margin-left: -20px;
   margin-left: -.85333333rem;
   width: 40px;
   width: 1.70666667rem;
   height: 40px;
   height: 1.70666667rem
}

.com-sidebar-panel .sidebar-panel-hd .name-description {
   position: relative;
   margin: 0 30px;
   margin: 0 1.28rem
}

.com-sidebar-panel .sidebar-panel-hd .name-description .name {
   display: block;
   overflow: hidden;
   padding: 0 8px 10px;
   padding: 0 .34133333rem .42666667rem;
   width: 100%;
   height: 30px;
   height: 1.28rem;
   color: #ffc81f;
   white-space: nowrap;
   font-size: 14px;
   font-size: .59733333rem
}

.com-sidebar-panel .sidebar-panel-hd .name-description .description {
   overflow: hidden;
   padding: 0 0 15px;
   padding: 0 0 .64rem;
   height: 27px;
   height: 1.152rem;
   color: hsla(0, 0%, 100%, .3);
   font-size: 12px;
   font-size: .512rem;
   line-height: 12px;
   line-height: .512rem
}

.com-sidebar-panel .sidebar-panel-hd .name-description:after {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: hsla(0, 0%, 100%, .4);
   content: '';
   transform: scaleY(.5);
   -webkit-transform: scaleY(.5)
}

.com-sidebar-panel .sidebar-panel-hd.logined .name-description .name {
   color: #fff
}

.com-sidebar-panel .sidebar-panel-hd.logined .name-description .description {
   display: block
}

.com-sidebar-panel .sidebar-panel-bd {
   padding: 0 30px;
   padding: 0 1.28rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item {
   padding-left: 20px;
   padding-left: .85333333rem;
   height: auto
}

.com-sidebar-panel .sidebar-panel-bd .items .item a {
   position: relative;
   display: inline-block;
   padding: 16px 0 16px 62px;
   padding: .68266667rem 0 .68266667rem 2.64533333rem;
   width: 100%;
   height: 50px;
   height: 2.13333333rem;
   color: hsla(0, 0%, 100%, .5);
   font-size: 18px;
   font-size: .768rem;
   line-height: 18px;
   line-height: .768rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont {
   position: absolute;
   top: 17px;
   top: .72533333rem;
   left: 0;
   width: 22px;
   text-align: center;
   font-size: 25px
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-toDown,
.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-toTop {
   position: relative;
   top: -.5px;
   top: -.02133333rem;
   left: 0;
   left: 2px;
   left: .08533333rem;
   font-weight: 400
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-toDown:before,
.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-toTop:before {
   font-size: 12px;
   font-size: .512rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-logo,
.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-shoucang {
   top: 18px;
   top: .768rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .iconfont.icon-fenlei {
   top: 19px;
   top: .81066667rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .min {
   font-size: 12px;
   font-size: .512rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item a .word {
   font-size: 18px;
   font-size: .768rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item.current a {
   color: #ffc81f
}

.com-sidebar-panel .sidebar-panel-bd .items .item.news .news-items {
   display: none;
   overflow: hidden
}

.com-sidebar-panel .sidebar-panel-bd .items .item.news .news-items .news-item a {
   padding: 12px 0 12px 62px;
   padding: .512rem 0 .512rem 2.64533333rem;
   height: 42px;
   height: 1.792rem;
   color: hsla(0, 0%, 100%, .4);
   font-size: 18px;
   font-size: .768rem;
   line-height: 18px;
   line-height: .768rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item.news .news-items .news-item a .iconfont {
   top: 10px;
   top: .42666667rem
}

.com-sidebar-panel .sidebar-panel-bd .items .item.news .news-items .news-item a .iconfont:before {
   font-size: 18px
}

.com-sidebar-panel .sidebar-panel-bd .items .item.news .news-items .news-item.current a {
   color: #ffc81f
}

.com-sidebar-panel .sidebar-panel-ft {
   position: relative;
   margin: 0 30px;
   margin: 0 1.28rem;
   padding: 25px 0 22px;
   padding: 1.06666667rem 0 .93866667rem
}

.com-sidebar-panel .sidebar-panel-ft .aboutus,
.com-sidebar-panel .sidebar-panel-ft .mock-input {
   height: 28px;
   height: 1.19466667rem;
   border-radius: 28px;
   border-radius: 1.19466667rem;
   font-size: 12px;
   line-height: 28px;
   line-height: 1.19466667rem
}

.com-sidebar-panel .sidebar-panel-ft .aboutus {
   text-align: center;
   line-height: 26px;
   line-height: 1.10933333rem
}

.com-sidebar-panel .sidebar-panel-ft .search {
   position: relative;
   float: left;
   width: 133px;
   width: 5.67466667rem;
   color: hsla(0, 0%, 100%, .3)
}

.com-sidebar-panel .sidebar-panel-ft .search .mock-input {
   padding: 0 12px;
   padding: 0 .512rem;
   background-color: #333
}

.com-sidebar-panel .sidebar-panel-ft .search .icon-search {
   position: absolute;
   top: 0;
   right: 12px;
   right: .512rem
}

.com-sidebar-panel .sidebar-panel-ft .search:after {
   position: absolute;
   top: -15px;
   top: -.64rem;
   left: 0;
   width: 233px;
   width: 9.94133333rem;
   height: 1px;
   background-color: hsla(0, 0%, 100%, .4);
   content: '';
   transform: scaleY(.5);
   -webkit-transform: scaleY(.5)
}

.com-sidebar-panel .sidebar-panel-ft .aboutus {
   float: right;
   padding: 0 9px;
   padding: 0 .384rem;
   width: 82px;
   width: 3.49866667rem;
   border: 1px solid hsla(0, 0%, 100%, .3);
   color: hsla(0, 0%, 100%, .3)
}

.com-sidebar-panel .open-panel .menu {
   position: absolute;
   top: 50%;
   right: auto;
   bottom: auto;
   left: 50%;
   width: 22px;
   height: 2px;
   background-color: #fff;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%)
}

.com-sidebar-panel .open-panel .menu:after,
.com-sidebar-panel .open-panel .menu:before {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: inherit;
   content: '';
   -webkit-transition: -webkit-transform .5s, width .5s, top .3s;
   -webkit-transition: width .5s, top .3s, -webkit-transform .5s;
   transition: width .5s, top .3s, -webkit-transform .5s;
   transition: transform .5s, width .5s, top .3s;
   transition: transform .5s, width .5s, top .3s, -webkit-transform .5s;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden
}

.com-sidebar-panel .open-panel .menu:before {
   -webkit-transform: translateY(-6px);
   transform: translateY(-6px);
   -webkit-transform-origin: right top;
   transform-origin: right top
}

.com-sidebar-panel .open-panel .menu:after {
   -webkit-transform: translateY(6px);
   transform: translateY(6px);
   -webkit-transform-origin: right bottom;
   transform-origin: right bottom
}

.com-sidebar-panel.active .open-panel {
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg)
}

.com-sidebar-panel.active .open-panel .menu:after,
.com-sidebar-panel.active .open-panel .menu:before {
   width: 50%;
   -webkit-transition: -webkit-transform .5s, width .5s;
   -webkit-transition: width .5s, -webkit-transform .5s;
   transition: width .5s, -webkit-transform .5s;
   transition: transform .5s, width .5s;
   transition: transform .5s, width .5s, -webkit-transform .5s
}

.com-sidebar-panel.active .open-panel .menu:before {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg)
}

.com-sidebar-panel.active .open-panel .menu:after {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg)
}

.com-grid-article {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 100%
}

.com-grid-article .grid-article-hd {
   position: relative;
   height: 105px;
   height: 5.25rem
}

.com-grid-article .grid-article-hd .imgcover img {
   height: 100%
}

.com-grid-article .grid-article-hd .category {
   position: absolute;
   bottom: 8px;
   left: 4px;
   padding: 0 5px;
   height: 16px;
   background-color: #000;
   background-color: rgba(0, 0, 0, .4);
   line-height: 16px
}

.com-grid-article .grid-article-hd .category span {
   float: left;
   padding: 2px 0;
   color: #ffc81f;
   font-size: 12px;
   line-height: 12px
}

.com-grid-article .grid-article-hd .category span:before {
   margin-right: 3px
}

.com-grid-article .grid-article-hd .ribbon {
   position: absolute;
   right: 4px;
   bottom: 8px;
   height: 16px;
   line-height: 16px;
   -webkit-transform: scale(.83333333);
   transform: scale(.83333333)
}

.com-grid-article .grid-article-hd .ribbon .iconfont {
   margin-right: 5px;
   color: #fff;
   font-size: 12px
}

.com-grid-article .grid-article-hd .ribbon .iconfont:before {
   margin-right: 2px
}

.com-grid-article .grid-article-hd .ribbon .iconfont:last-child {
   margin-right: 0
}

.com-grid-article .grid-article-bd {
   padding: 8px 8px 4px
}

.com-grid-article .grid-article-bd h1 {
   overflow: hidden;
   max-height: 60px;
   max-height: 3rem;
   height: 60px;
   height: 3rem;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   line-height: 1rem
}

.com-grid-article .grid-article-bd .smart-date {
   color: #b2b2b2;
   font-size: 12px
}

.com-grid-articles-banner {
   position: relative;
   width: 100%;
   height: 100%
}

.com-grid-articles-banner .swiper-container {
   width: 100%;
   height: 100%
}

.com-grid-articles-banner .swiper-container .swiper-slide {
   display: block;
   background-size: cover
}

.com-grid-articles-banner .swiper-container .swiper-slide:after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   background-color: rgba(0, 0, 0, .3);
   content: ''
}

.com-grid-articles-banner .swiper-container .swiper-pagination {
   bottom: 10px;
   left: 0;
   width: 100%;
   line-height: 8px
}

.com-grid-articles-banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
   background: hsla(0, 0%, 100%, .9)
}

.com-grid-articles-banner .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background: #ffc81f
}

.com-grid-articles-banner .grid-articles-banner-bd {
   width: 100%;
   height: 100%
}

.com-grid-articles-banner .grid-articles-banner-bd .swiper-slide .category-title {
   position: absolute;
   bottom: 28px;
   left: 0;
   z-index: 3;
   padding: 0 10px;
   width: 100%
}

.com-grid-articles-banner .grid-articles-banner-bd .swiper-slide .category-title .category {
   display: inline-block;
   padding: 0 5px;
   height: 16px;
   background-color: #000;
   background-color: rgba(0, 0, 0, .4);
   line-height: 16px
}

.com-grid-articles-banner .grid-articles-banner-bd .swiper-slide .category-title .category img {
   max-height: 100%;
   width: 16px;
   height: 100%
}

.com-grid-articles-banner .grid-articles-banner-bd .swiper-slide .category-title .category span {
   float: left;
   margin-left: 3px;
   padding: 2px 0;
   color: #ffc81f;
   font-size: 12px;
   line-height: 12px
}

.com-grid-articles-banner .grid-articles-banner-bd .swiper-slide .category-title .title {
   color: #fff;
   font-weight: 400;
   font-size: 23px;
   line-height: 26px
}

.com-grid-article-video {
   display: block;
   width: 100%;
   background: #fff
}

.com-grid-article-video .grid-article-video-hd {
   position: relative;
   height: 150px;
   height: 7.5rem
}

.com-grid-article-video .grid-article-video-hd .imgcover img {
   width: 100%
}

.com-grid-article-video .grid-article-video-hd .play-btn {
   position: absolute;
   top: 45px;
   top: 2.25rem;
   left: 50%;
   margin-left: -27.5px;
   margin-left: -1.375rem;
   width: 55px;
   width: 2.75rem;
   height: 55px;
   height: 2.75rem;
   border: 1px solid hsla(0, 0%, 100%, .45);
   border-radius: 50%
}

.com-grid-article-video .grid-article-video-hd .play-btn:after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background: #000;
   background: rgba(0, 0, 0, .25);
   content: ''
}

.com-grid-article-video .grid-article-video-hd .play-btn .iconfont {
   position: absolute;
   z-index: 5;
   width: 100%;
   height: 100%;
   text-align: center;
   line-height: 55px;
   line-height: 2.75rem
}

.com-grid-article-video .grid-article-video-hd .play-btn .iconfont:before {
   position: relative;
   left: 2px;
   left: .1rem;
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 30px;
   font-size: 1.5rem
}

.com-grid-article-video .grid-article-video-hd .play-btn .time {
   position: absolute;
   bottom: -20px;
   bottom: -1rem;
   left: 0;
   width: 100%;
   color: #fff;
   text-align: center;
   font-size: 13px;
   font-size: .65rem;
   line-height: 15px;
   line-height: .75rem
}

.com-grid-article-video .grid-article-video-hd .category {
   position: absolute;
   bottom: 8px;
   left: 15px;
   padding: 0 5px;
   height: 16px;
   background: #000;
   background: rgba(0, 0, 0, .4);
   line-height: 16px
}

.com-grid-article-video .grid-article-video-hd .category span {
   display: inline-block;
   float: left;
   padding: 2px 0;
   color: #ffc81f;
   font-size: 12px;
   line-height: 12px
}

.com-grid-article-video .grid-article-video-bd {
   padding: 6px 15px 20px
}

.com-grid-article-video .grid-article-video-bd .title {
   font-size: 20px;
   line-height: 24px
}

.com-grid-article-video .grid-article-video-bd .description {
   margin-top: 5px;
   font-size: 14px;
   line-height: 18px;
   opacity: .6;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
}

.homes.index {
   background-color: #eee
}

.homes.index .page-content {
   width: 100%
}

.homes.index .page-content .packery-container {
   position: relative
}

.homes.index .page-content .packery-container .packery-item {
   margin-top: 2px;
   margin-top: .1rem
}

.homes.index .page-content .packery-container .packery-item.combo .com-grid-article,
.homes.index .page-content .packery-container .packery-item.combo .com-grid-makemoney {
   width: 159px;
   width: 7.95rem;
   height: 195px;
   height: 9.75rem;
   background-color: #fff;
   vertical-align: top
}

.homes.index .page-content .packery-container .packery-item.combo .com-grid-article:nth-child(2n),
.homes.index .page-content .packery-container .packery-item.combo .com-grid-makemoney:nth-child(2n) {
   margin-left: 2px;
   margin-left: .1rem
}

.homes.index .page-content .packery-container .packery-item.single .com-grid-articles-banner {
   height: 180px;
   height: 9rem;
   background-color: #fff;
   vertical-align: top
}

.homes.index .page-content .packery-container .packery-item.single .com-grid-key-article {
   height: 195px;
   height: 9.75rem;
   background-color: #fff;
   vertical-align: top
}