html {
   font-family: sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%
}

body {
   margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
   display: block
}

audio,
canvas,
progress,
video {
   display: inline-block;
   vertical-align: baseline
}

audio:not([controls]) {
   display: none;
   height: 0
}

[hidden],
template {
   display: none
}

a {
   background-color: transparent
}

a:active,
a:hover {
   outline: 0
}

abbr[title] {
   border-bottom: 1px dotted
}

b,
strong {
   font-weight: 700
}

dfn {
   font-style: italic
}

h1 {
   margin: .67em 0;
   font-size: 2em
}

mark {
   background: #ff0;
   color: #000
}

small {
   font-size: 80%
}

sub,
sup {
   position: relative;
   vertical-align: baseline;
   font-size: 75%;
   line-height: 0
}

sup {
   top: -.5em
}

sub {
   bottom: -.25em
}

img {
   border: 0
}

svg:not(:root) {
   overflow: hidden
}

figure {
   margin: 1em 40px
}

hr {
   box-sizing: content-box;
   height: 0
}

pre {
   overflow: auto
}

code,
kbd,
pre,
samp {
   font-size: 1em;
   font-family: monospace, monospace
}

button,
input,
optgroup,
select,
textarea {
   margin: 0;
   color: inherit;
   font: inherit
}

button {
   overflow: visible
}

button,
select {
   text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
   cursor: pointer;
   -webkit-appearance: button
}

button[disabled],
html input[disabled] {
   cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   padding: 0;
   border: 0
}

input {
   line-height: normal
}

input[type=checkbox],
input[type=radio] {
   box-sizing: border-box;
   padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   height: auto
}

input[type=search] {
   box-sizing: content-box;
   -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
   -webkit-appearance: none
}

fieldset {
   margin: 0 2px;
   padding: .35em .625em .75em;
   border: 1px solid silver
}

legend {
   padding: 0;
   border: 0
}

textarea {
   overflow: auto
}

optgroup {
   font-weight: 700
}

table {
   border-spacing: 0;
   border-collapse: collapse
}

td,
th {
   padding: 0
}

@-webkit-keyframes sk-bouncedelay {
   0%,
   80%,
   to {
      -webkit-transform: scale(0);
      transform: scale(0)
   }
   40% {
      -webkit-transform: scale(1);
      transform: scale(1)
   }
}

@keyframes sk-bouncedelay {
   0%,
   80%,
   to {
      -webkit-transform: scale(0);
      transform: scale(0)
   }
   40% {
      -webkit-transform: scale(1);
      transform: scale(1)
   }
}

.com-loader {
   height: 100px;
   text-align: center;
   line-height: 100px
}

.com-loader .loader-bd {
   display: inline-block;
   color: #bbb;
   vertical-align: middle;
   font-size: 14px;
   line-height: 40px
}

.com-loader .loader-bd .notext {
   position: relative;
   display: none;
   padding: 0 18px
}

.com-loader .loader-bd .notext:after,
.com-loader .loader-bd .notext:before {
   position: absolute;
   width: 40px;
   height: 1px;
   background-color: #ddd;
   content: ''
}

.com-loader .loader-bd .notext:before {
   top: 20px;
   right: -40px
}

.com-loader .loader-bd .notext:after {
   top: 20px;
   left: -40px
}

.com-loader .loader-bd .showtext {
   display: none;
   padding: 15px 50px;
   color: #fff;
   font-size: 18px;
   line-height: 18px
}

.com-loader .loader-bd .spinner>div {
   display: inline-block;
   width: 12px;
   height: 12px;
   border-radius: 100%;
   background-color: #ffc81f;
   -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

.com-loader .loader-bd .spinner .bounce1 {
   -webkit-animation-delay: -.32s;
   animation-delay: -.32s
}

.com-loader .loader-bd .spinner .bounce2 {
   -webkit-animation-delay: -.16s;
   animation-delay: -.16s
}

.com-loader.large .loader-bd {
   font-size: 18px
}

.com-loader.large .loader-bd .notext:after,
.com-loader.large .loader-bd .notext:before {
   top: 20px
}

.com-loader.large .loader-bd .spinner>div {
   margin: 0 4px
}

.com-loader.loading .loader-bd .notext,
.com-loader.loading .loader-bd .showtext {
   display: none
}

.com-loader.loading .loader-bd .spinner,
.com-loader.nomore .loader-bd .notext {
   display: inline-block
}

.com-loader.nomore .loader-bd .showtext,
.com-loader.nomore .loader-bd .spinner,
.com-loader.showmore .loader-bd .notext {
   display: none
}

.com-loader.showmore .loader-bd .showtext {
   display: inline-block
}

.com-loader.showmore .loader-bd .spinner {
   display: none
}

.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both
}

.animated.infinite {
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite
}

@-webkit-keyframes fadeInUp {
   0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0)
   }
   to {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transform: none;
      transform: none
   }
}

@keyframes fadeInUp {
   0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0)
   }
   to {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transform: none;
      transform: none
   }
}

.fadeInUp {
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp
}

@font-face {
   font-family: iconfont;
   src: url(../fonts/iconfont.eot?1443086416199);
   src: url(../fonts/mobile/iconfont.eot?1443086416199#iefix) format('embedded-opentype'),
   url(../fonts/iconfont.woff?1443086416199) format('woff'),
   url(../fonts/iconfont.ttf?1443086416199) format('truetype'),
   url(../fonts/iconfont.svg?1443086416199#iconfont) format('svg')
}

.iconfont {
   font-style: normal;
   font-size: 16px;
   font-family: iconfont!important;
   -webkit-font-smoothing: antialiased;
   -webkit-text-stroke-width: .2px;
   -moz-osx-font-smoothing: grayscale
}

.icon-apple:before {
   content: "\E604"
}

.icon-android:before {
   content: "\E605"
}

.icon-kongjian:before {
   content: "\E606"
}

.icon-logout:before {
   content: "\E607"
}

.icon-right-bold:before {
   content: "\E609"
}

.icon-page:before {
   content: "\E648"
}

.icon-douban:before {
   content: "\E60B"
}

.icon-tengxunweibo:before {
   content: "\E60C"
}

.icon-weibo:before {
   content: "\E60D"
}

.icon-qq:before {
   content: "\E60E"
}

.icon-weixin:before {
   content: "\E60F"
}

.icon-jia:before {
   content: "\E643"
}

.icon-scale:before {
   content: "\E636"
}

.icon-play:before {
   content: "\E646"
}

.icon-shoucang:before {
   content: "\E610"
}

.icon-setting:before {
   content: "\E611"
}

.icon-user:before {
   content: "\E612"
}

.icon-dui:before {
   content: "\E644"
}

.icon-labs:before {
   content: "\E615"
}

.icon-praise:before {
   content: "\E616"
}

.icon-heart:before {
   content: "\E617"
}

.icon-message:before {
   content: "\E618"
}

.icon-search:before {
   content: "\E620"
}

.icon-camera:before {
   content: "\E619"
}

.icon-heart-sharp:before {
   content: "\E61A"
}

.icon-right:before {
   content: "\E61B"
}

.icon-left:before {
   content: "\E61C"
}

.icon-join:before {
   content: "\E61D"
}

.icon-linkedin:before {
   content: "\E61E"
}

.icon-praise-empty:before {
   content: "\E61F"
}

.icon-eye:before {
   content: "\E621"
}

.icon-checkbox-light:before {
   content: "\E622"
}

.icon-checkbox-selected:before {
   content: "\E623"
}

.icon-close:before {
   content: "\E624"
}

.icon-selected:before {
   content: "\E625"
}

.icon-avatar-upload:before {
   content: "\E626"
}

.icon-logo:before {
   content: "\E627"
}

.icon-loc:before {
   content: "\E608"
}

.icon-vote:before {
   content: "\E628"
}

.icon-checkbox:before {
   content: "\E629"
}

.icon-explore:before {
   content: "\E62A"
}

.icon-safe:before {
   content: "\E62B"
}

.icon-location:before {
   content: "\E62C"
}

.icon-email:before {
   content: "\E62D"
}

.icon-telephone:before {
   content: "\E62E"
}

.icon-fachudepinglun:before {
   content: "\E689"
}

.icon-countdown-bg:before {
   content: "\E68E"
}

.icon-play1:before {
   content: "\E69C"
}

.icon-right1:before {
   content: "\E647"
}

.icon-duduyinleappicon1401:before {
   content: "\E600"
}

.icon-duduyinleappicon0501:before {
   content: "\E601"
}

.icon-pause:before {
   content: "\E69D"
}

.icon-toTop:before {
   content: "\E602"
}

.icon-quote:before {
   content: "\E641"
}

.icon-wikipedia:before {
   content: "\E642"
}

.icon-pics:before {
   content: "\E645"
}

.icon-10getu:before {
   content: "\E64C"
}

.icon-chengshi:before {
   content: "\E64E"
}

.icon-dagongsitoutiao:before {
   content: "\E650"
}

.icon-shangye:before {
   content: "\E65D"
}

.icon-sheji:before {
   content: "\E65E"
}

.icon-shishang:before {
   content: "\E660"
}

.icon-youxi:before {
   content: "\E666"
}

.icon-yule:before {
   content: "\E667"
}

.icon-changwenzhang:before {
   content: "\E668"
}

.icon-zhineng:before {
   content: "\E66C"
}

.icon-aboutus:before {
   content: "\E66D"
}

.icon-left1:before {
   content: "\E66E"
}

.icon-category:before {
   content: "\E66F"
}

.icon-close1:before {
   content: "\E670"
}

.icon-columns:before {
   content: "\E671"
}

.icon-comment:before {
   content: "\E672"
}

.icon-fav:before {
   content: "\E674"
}

.icon-flag:before {
   content: "\E675"
}

.icon-home:before {
   content: "\E677"
}

.icon-like:before {
   content: "\E678"
}

.icon-nightmode:before {
   content: "\E679"
}

.icon-notification:before {
   content: "\E67A"
}

.icon-offline:before {
   content: "\E67B"
}

.icon-profile:before {
   content: "\E67C"
}

.icon-qlab:before {
   content: "\E67D"
}

.icon-reply:before {
   content: "\E67E"
}

.icon-rotate:before {
   content: "\E67F"
}

.icon-setting1:before {
   content: "\E680"
}

.icon-share:before {
   content: "\E682"
}

.icon-share03:before {
   content: "\E683"
}

.icon-sub:before {
   content: "\E684"
}

.icon-top15:before {
   content: "\E686"
}

.icon-choosesite:before {
   content: "\E649"
}

.icon-paperbook:before {
   content: "\E64A"
}

.icon-ebook:before {
   content: "\E64B"
}

.icon-xiangxiajiantou:before {
   content: "\E69E"
}

.icon-nosound:before {
   content: "\E69F"
}

.icon-sound:before {
   content: "\E6A0"
}

.icon-1yanjiusuo:before {
   content: "\E6A1"
}

.icon-2lanmu:before {
   content: "\E6A2"
}

.icon-3dingyue:before {
   content: "\E6A3"
}

.icon-4sousuo:before {
   content: "\E6A4"
}

.icon-5app:before {
   content: "\E6A5"
}

.icon-jiadingyue:before {
   content: "\E6B0"
}

.icon-yidingyue:before {
   content: "\E6B1"
}

.icon-fenlei:before {
   content: "\E6B2"
}

.icon-lanmuzuozhe:before {
   content: "\E6B3"
}

.icon-toDown:before {
   content: "\E6B4"
}

.icon-youxi1:before {
   content: "\E6B5"
}

.icon-shengyin:before {
   content: "\E6B6"
}

.icon-shuangjiantou:before {
   content: "\E63E"
}

.icon-dagongsitoutiao-bg:before {
   content: "\E691"
}

.icon-meirihaotu-bg:before {
   content: "\E692"
}

.icon-chuangshirenshuo-bg:before {
   content: "\E693"
}

.icon-chengshi-bg:before {
   content: "\E694"
}

.icon-haoqixinshiyanshi-bg:before {
   content: "\E695"
}

.icon-haoqixinshangyeshi-bg:before {
   content: "\E696"
}

.icon-xinpian-bg:before {
   content: "\E697"
}

.icon-dianyingshishang-bg:before {
   content: "\E698"
}

.icon-shishang-bg:before {
   content: "\E699"
}

.icon-haoqixinyanjiusuo-bg:before {
   content: "\E69A"
}

.icon-haolaiwujihua-bg:before {
   content: "\E69B"
}

.icon-piaofang-bg:before {
   content: "\E6AD"
}

.icon-ribenyu-bg:before {
   content: "\E6B8"
}

.icon-haoqixinrenleixue-bg:before {
   content: "\E6B9"
}

.icon-10getu-bg:before {
   content: "\E6BA"
}

.icon-dianyingchengshi-bg:before {
   content: "\E6BB"
}

.icon-shejicidian-bg:before {
   content: "\E6BC"
}

.icon-shichangfamingjia-bg:before {
   content: "\E6BD"
}

.icon-wodedingyue-bg:before {
   content: "\E6BE"
}

.icon-yifangribao-bg:before {
   content: "\E6BF"
}

.icon-dianyinggongchang-bg:before {
   content: "\E6C0"
}

.icon-jinriyingyong-bg:before {
   content: "\E6C1"
}

.icon-niuyueniuyue-bg:before {
   content: "\E6C2"
}

.icon-sheji-bg:before {
   content: "\E6C3"
}

.icon-xinshu-bg:before {
   content: "\E6C4"
}

.icon-fuhuaribao-bg:before {
   content: "\E6C5"
}

.icon-shangye-bg:before {
   content: "\E6C6"
}

.icon-suantangyujingjixue-bg:before {
   content: "\E6C7"
}

.icon-wanwujianshi-bg:before {
   content: "\E6C8"
}

.icon-youxi-bg:before {
   content: "\E6C9"
}

.icon-yule-bg:before {
   content: "\E6CA"
}

.icon-changwenzhang-bg:before {
   content: "\E6CB"
}

.icon-zhegerenyouhaoqixin-bg:before {
   content: "\E6CC"
}

.icon-zhegeshejilebuqi-bg:before {
   content: "\E6CD"
}

.icon-zheshijie-bg:before {
   content: "\E6CE"
}

.icon-zhineng-bg:before {
   content: "\E6CF"
}

.icon-aeon-bg:before {
   content: "\E6D1"
}

.icon-coolhunting-bg:before {
   content: "\E6D2"
}

.icon-hackyourlife-bg:before {
   content: "\E6D3"
}

.icon-thetalk-bg:before {
   content: "\E6D4"
}

.icon-top15-bg:before {
   content: "\E6D5"
}

.icon-ad-bg:before {
   content: "\E603"
}

.icon-100geyouxiangfaderen:before {
   content: "\E613"
}

.icon-chuangshirenshuo:before {
   content: "\E614"
}

.icon-dagongsitoutiao1:before {
   content: "\E62F"
}

.icon-dianyingchengshi:before {
   content: "\E630"
}

.icon-dianyinggongye:before {
   content: "\E631"
}

.icon-dianyingshishang:before {
   content: "\E632"
}

.icon-fuhuaribao:before {
   content: "\E634"
}

.icon-ad:before {
   content: "\E635"
}

.icon-haolaiwujihua:before {
   content: "\E638"
}

.icon-22suitamenzaixiangshiyao:before {
   content: "\E639"
}

.icon-haoqixindadiaocha:before {
   content: "\E63A"
}

.icon-haoqixinrenleixue:before {
   content: "\E63B"
}

.icon-haoqixinshangyeshi:before {
   content: "\E63C"
}

.icon-haoqixinshiyanshi:before {
   content: "\E63F"
}

.icon-jinriyingyong:before {
   content: "\E640"
}

.icon-kantu:before {
   content: "\E687"
}

.icon-niuyueniuyue:before {
   content: "\E688"
}

.icon-piaofang:before {
   content: "\E68D"
}

.icon-ribenyu:before {
   content: "\E6A6"
}

.icon-shejicidian:before {
   content: "\E6A7"
}

.icon-shichangfamingjia:before {
   content: "\E6A8"
}

.icon-suantangyujingjixue:before {
   content: "\E6A9"
}

.icon-suozhangdashuju:before {
   content: "\E6AA"
}

.icon-wanwujianshi:before {
   content: "\E6AB"
}

.icon-weishenmedushu:before {
   content: "\E6AC"
}

.icon-wodedingyue:before {
   content: "\E6AF"
}

.icon-yexuouzhouyoudaan:before {
   content: "\E6B7"
}

.icon-yifangribao:before {
   content: "\E6D0"
}

.icon-yugaopian:before {
   content: "\E6D6"
}

.icon-zhegerenyouhaoqixin:before {
   content: "\E6D7"
}

.icon-zhegeshejilebuqi:before {
   content: "\E6D8"
}

.icon-zheshijie:before {
   content: "\E6D9"
}

.icon-aeon:before {
   content: "\E6DA"
}

.icon-ch:before {
   content: "\E6DB"
}

.icon-hackyourlife:before {
   content: "\E6DC"
}

.icon-lgbt:before {
   content: "\E6DD"
}

.icon-thetalk:before {
   content: "\E6DE"
}

.icon-iconxuanzhuan:before {
   content: "\E60A"
}

.icon-tianjia:before {
   content: "\E633"
}

.icon-next:before {
   content: "\E637"
}

.icon-iconfontshare:before {
   content: "\E63D"
}

.icon-jiantou-right:before {
   content: "\E64D"
}

.icon-toolbar-like:before {
   content: "\E64F"
}

.icon-toolbar-liked:before {
   content: "\E651"
}

.icon-mul-checked:before {
   content: "\E652"
}

.icon-mul-check:before {
   content: "\E653"
}

.icon-video_play:before {
   content: "\E654"
}

html {
   -webkit-font-smoothing: antialiased;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-touch-callout: none;
   -webkit-text-size-adjust: none;
   -ms-text-size-adjust: none;
   -o-text-size-adjust: none;
   text-size-adjust: none
}

html.fixed,
html.fixed body {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%
}

body,
button,
input,
select,
textarea {
   font-size: 14px;
   font-family: Arial, STHeiti, 鍗庢枃榛戜綋, Microsoft YaHei, 寰蒋闆呴粦, SimSun, 瀹嬩綋, Helvetica, Tahoma, Arial sans-serif;
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   -webkit-backface-visibility: hidden
}

a {
   color: #0f1419;
   text-decoration: none
}

a,
img {
   vertical-align: top
}

ul {
   padding: 0;
   list-style: none
}

p,
ul {
   margin: 0
}

p {
   word-break: break-word
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   color: #0f1419
}

a:active,
a:focus,
input:active,
input:focus,
option:active,
option:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
   outline: 0
}

input,
option,
select,
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none
}

textarea {
   resize: none
}

body {
   margin: 0;
   background-color: #fff;
   color: #363636
}

.clearfix:after,
.clearfix:before {
   display: table;
   content: " "
}

.clearfix:after {
   clear: both
}

*,
:after,
:before {
   box-sizing: border-box
}

.btn {
   display: inline-block;
   padding: 10px 36px;
   outline: none;
   border: none;
   background-color: #ffc81f;
   color: #000;
   text-decoration: none;
   font-size: 14px;
   line-height: 14px
}

.lazyload,
.lazyloading {
   opacity: 0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.lazyloaded {
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   -webkit-transition: opacity .5s;
   transition: opacity .5s
}

.hidden {
   display: none!important
}

.gap {
   position: relative;
   height: 10px;
   height: .5rem;
   background-color: #f2f2f2
}

.gap:after,
.gap:before {
   position: absolute;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #dad9d9;
   content: '';
   transform: scaleY(.5);
   -webkit-transform: scaleY(.5);
   transform-origin: 0 0;
   -webkit-transform-origin: 0 0
}

.gap:before {
   top: 0
}

.gap:after {
   bottom: 0
}

.vertical-wrapper {
   display: table;
   width: 100%;
   height: 100%
}

.vertical-wrapper .vertical {
   display: table-cell;
   vertical-align: middle
}

.vertical-wrapper .vertical>* {
   vertical-align: middle
}

.vertical-wrapper .vertical img,
.vertical-wrapper .vertical span {
   display: inline-block
}

.vertical-wrapper.center .vertical {
   text-align: center
}

.imgcover {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%
}

.imgcover img {
   position: absolute;
   top: -100%;
   right: -100%;
   bottom: -100%;
   left: -100%;
   margin: auto;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto
}

.category {
   height: 30px;
   color: #fff;
   line-height: 30px
}

.category img {
   width: auto;
   height: 100%
}

.category span {
   display: inline-block;
   line-height: 30px
}

.category span:before {
   margin-right: 5px
}

.category.x25 {
   height: 25px
}

.category.x25,
.category.x25 span {
   line-height: 25px
}

.category.x32 {
   height: 32px
}

.category.x32,
.category.x32 span {
   line-height: 32px
}

.category.x44 {
   height: 44px
}

.category.x44,
.category.x44 span {
   line-height: 44px
}

.avatar {
   display: inline-block;
   width: 25px;
   height: 25px;
   text-align: center;
   line-height: 25px
}

.avatar img {
   max-width: 100%;
   max-height: 100%;
   width: 100%;
   height: 100%
}

.avatar.circle img {
   overflow: hidden;
   border-radius: 50%
}

.avatar.x20 {
   width: 20px;
   height: 20px;
   line-height: 20px
}

.avatar.x24 {
   width: 24px;
   height: 24px;
   line-height: 24px
}

.avatar.x35 {
   width: 35px;
   height: 35px;
   line-height: 35px
}

.avatar.x40 {
   width: 40px;
   height: 40px;
   line-height: 40px
}

.avatar.x48 {
   width: 48px;
   height: 48px;
   line-height: 48px
}

.avatar.x64 {
   width: 64px;
   height: 64px;
   line-height: 64px
}

.avatar.x84 {
   width: 84px;
   height: 84px;
   line-height: 84px
}

.com-seo {
   position: absolute;
   top: -99999px;
   left: -999999px
}

.com-notification {
   position: fixed;
   z-index: 10900;
   padding: 10px 24px;
   border-radius: 4px;
   background-color: #000;
   background-color: rgba(0, 0, 0, .7);
   color: #fff;
   font-size: 14px
}